.main {
    .header {
        background-color: #f0a52b;

        .nav-menu {
            display:flex;
            justify-content:center; 
            .menuitems{
                display: flex;  
                list-style: none;
                
                i{
                    
                }
            }
        }

        .container-fluid {
            display: flex;
            justify-content: center;

            .arrow-header {
                .arrow {
                    color: #ffff;

                }
            }
        }
    }

}